.App {
  text-align: center;
}
#pythonDiv {
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 155, 0.685);
  overflow: hidden;
  text-align: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}
#jsDiv {
  width: 200px;
  height: 200px;
  background-color: rgba(63, 191, 161, 0.685);
  padding-left: 10px;
  margin-left: auto;
  text-align: center;
}
#reactDiv {
  width: 200px;
  height: 200px;
  background-color: rgba(234, 95, 26, 0.83);
  padding-left: 10px;
  margin-left: auto;
  text-align: center;
}
#rubyDiv {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  padding-left: 10px;
  margin-left: auto;
  text-align: center;
}
#mainCatDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
}
#videoDiv {
  width: 800px;
  height: 100px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#blue,
#yellow {
  height: 50px;
  width: 50px;
  animation: spin 3s infinite;
}

@keyframes spin {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(0.45);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
